.CommentLogin-exists {
  margin-top: 30px;
}

.CommentLogin-firstLevel {
  padding: 30px 0 90px 40px;
}

.CommentLogin-anotherLevel {
  margin-left: 30px;
}

.CommentLogin-notExists {
  font-size: 16px;
  margin-top: 30px;
}

.CommentLogin-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: inherit;
  color: #666666;
  text-decoration: underline;
}

.loginButton {
  color: #0087E9
}
